# cx16-asm.cfg - ca65/ld65 linker configuration for pure assembly programs
#
# Produces a .prg file with load address $0801.
#
# Memory layout:
#   $0022-$00FF  - Zero page (user area, after KERNAL/BASIC registers)
#   $0801-$080C  - BASIC stub ("10 SYS 2061") - makes .prg auto-run
#   $080D-$9FFF  - Main program area (code, rodata, data, bss)

MEMORY {
    LOADADDR: type = ro, start = $07FF, size = $0002, file = %O;
    ZP:     type = rw, start = $0022, size = $00DE;
    HEADER: type = ro, start = $0801, size = $000D, file = %O, fill = yes;
    MAIN:   type = rw, start = $080D, size = $97F3, file = %O;
}

SEGMENTS {
    LOADADDR:  load = LOADADDR, type = ro;
    ZEROPAGE:  load = ZP,     type = zp;
    BASICSTUB: load = HEADER, type = ro;
    CODE:      load = MAIN,   type = rw;
    RODATA:    load = MAIN,   type = ro;
    DATA:      load = MAIN,   type = rw;
    BSS:       load = MAIN,   type = bss, define = yes;
}
